<h3 align="center">Categories of Services | <%= link_to "Home", root_path %> | <%= link_to "Create New Service", new_service_path %></h3> 

<ul align="center">
    <% @services.each do |service| %>
        <li>
            <p>
                <%= link_to service.name, service_companies_path(:service_id, :company_id) %>
            </p>
        </li>
    <% end %>
</ul>