

<h1 align="center">Welcome to Agora!</h1>

<h3 align="center">The world's most efficient marketplace!</h3>

<h3 align="center"><%= link_to "All Companies", companies_path %></h3>
<h3 align="center"><%= link_to "All Services", services_path %></h3>
<h3 align="center"><%= link_to "All Users", users_path %></h3>
<h3 align="center"><%= link_to "Create User", new_user_path %></h3>
