<h3 align="center">All Businesses | <%= link_to "Add New Business", new_company_path %> 
                                   

<div align="center">
    <% @companies.each do |company| %>
        <p>
            <%= link_to company.name, company_path(company) %> | <%= company.phone %> | <%= company.email %>
        </p>
        
    <% end %>
</div>